#pjUploadConteneur {
	float: left;
}

#travauxPjLst li {
	display:block;
	clear:both;
	padding-top:4px;
}

.form-control {
	font-weight:bold;
}

span.ressource_tableau_projet {
	display:block;
	padding-left:3px;
	padding-right:3px;
	width:100%;
	overflow: hidden;
	cursor:pointer;
	border-radius:5px;
	padding:2px;
}

span.ressource_tableau_projet small {
	display:block;
	font-size:0.8em;
	font-weight:bold;
	font-style: italic;
}

span.ressource_tableau_projet.red {
	background-color:#ff0000;
	color:white;
}

span.ressource_tableau_projet.rose {
	background-color:#e300d0;
	color:white;
}

span.ressource_tableau_projet.violet {
	background-color:rgba(100, 0, 91, 0.92);
	color:white;
}

span.ressource_tableau_projet.orange {
	background-color:#ff8000;
	color:white;
}

span.ressource_tableau_projet.vertclair {
	background-color:#66ff66;
}

span.ressource_tableau_projet.vertfonce {
	background-color:#008000;
	color:white;
}

span.ressource_tableau_projet.jaune {
	background-color:#ffff00;
}

span.ressource_tableau_projet.bleu {
	background-color:#0065c4;
	color:white;
}

span.ressource_tableau_projet.turquoise {
	background-color:#00e0f9;
}

span.ressource_tableau_indispo {
	display:block;
	padding-left:3px;
	padding-right:3px;
	width:100%;
	overflow: hidden;
	border-radius:5px;
	padding:2px;
	background-color:#999999;
	color:#ffffff;
}

span.ressource_tableau_note {
	display:block;
	padding-left:3px;
	padding-right:3px;
	width:100%;
	overflow: hidden;
	border-radius:5px;
	padding:2px;
	background-color:#edffaa;
	color:#999999;
}

div.legende {
	float:right;
}
div.legende span {
	float:left;
}
span.legende {
	display:block;
	margin-right:5px;
	margin-left:5px;
	width:20px;
	height:20px;
}

span.legende.red {
	background-color:#ff0000;
	color:white;
}

span.legende.orange {
	background-color:#ff8000;
	color:white;
}

span.legende.vertclair {
	background-color:#66ff66;
}

span.legende.vertfonce {
	background-color:#008000;
	color:white;
}

span.legende.jaune {
	background-color:#ffff00;
}

span.legende.bleu {
	background-color:#0065c4;
	color:white;
}

span.legende.turquoise {
	background-color:#00e0f9;
}

span.legende.rose {
	background-color:#e300d0;
	color:white;
}

span.legende.violet {
	background-color:rgba(100, 0, 91, 0.92);
	color:white;
}


#ressourceTableauModale {
	display:none;
	position:absolute;
	width:200px;
	background-color:white;
}

.profile-nav .user-heading {
	padding:10px;
}

.profile-nav .user-heading h1{
	margin-top:10px;
}

.panel {
	margin-bottom:0px;
}

.paiement_reception {
	display:block;
	float:left;
	margin-right:5px;
	background-color:red;
	border-radius: 15px;
	width:15px;
	height:15px;
}

a.logo {
	margin-top:10px;	
}

tr.grise td a {
	color:#9f9f9f;
}

.profile-information .profile-desk span, .profile-information .profile-desk p {
	display:block;
}

#contactListeResidences {
	height:200px;
	overflow-y: auto;
}

#contactEditModal .modal-dialog  {width:75%;}
@media screen and (min-width: 768px) {
	
	#contactEditModal .modal-dialog  {width:900px;}

}

.sidebar-toggle-box {
	background-color:#2D5A75;	
	color: #ffffff;
	border:1px solid #999999;	
}
.brand {
	background-color:#2D5A75;
	color: #ffffff;	
}
a.logo {
	color:#ffffff;
}
.panel-heading {
	background-color:#2D5A75;
	color: #ffffff;
}
.profile-information .profile-desk h1 {
	color:#2D5A75;
}
.btn-primary {
	background-color:#326381;
	border:1px solid #326381;
}
.leftside-navigation {
}
/*Texte menu*/
ul.sidebar-menu li a span, ul.sidebar-menu li ul.sub li a {
	color:#3F7DA3;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i, ul.sidebar-menu li a span:hover, ul.sidebar-menu li ul.sub li a:hover {
	color:#ffffff;
}
ul.sidebar-menu li a.active i {
	color:#ffffff;
}

.modalLabelRight{
	display:inline-block;
	margin-left:15px;
	font-weight:bold;
}

.pointageWeekend {
	background-color:#e1e1e1;
}

.pointageDatasNotAvailable {
	background-color:#cbe9f9;	
}

.bgColAlertnative {
	background-color:#e2e2e2;
}

.passageListeInterligne {
	padding-top:5px;
	height:21px;
	margin-bottom:20px;
	overflow: hidden;
}

.adv-table table tr td.passageListeMarqueurDateLimite {
	padding:0px;
}
.passageListeMarqueurDateLimite{
	background-color:#4abced;
	height:8px;
	margin:0px;
	padding:0px;
}

.passageListePointageManuel {
	color:red;
}

.passageListeLabel {
	display:block;
	width:25px;
	margin-top:-5px;
	padding-top:5px;
	height:20px;
	text-align:center;
}

.colBorderDroite {
	border-right:1px solid #d5d5d5;
}

#ampouleEditListeCommentaires {
	height:130px;
	overflow-y: auto;
}

#ampouleEditListeInterventions {
	height:100px;
	overflow-y: auto;
}